<!DOCTYPE html>
<!--[if lt IE 8]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


    <!--  ==========  -->
    <!--  = Breadcrumbs =  -->
    <!--  ==========  -->
    <div class="darker-stripe">
        <div class="container">
          <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                      <li>
                          <a href="index.html">Sweetist</a>
                      </li>
                      <li><span class="icon-chevron-right"></span></li>
                      <li>
                          <a href="shop.html">Shop</a>
                      </li>
                      <li><span class="icon-chevron-right"></span></li>
                      <li>
                          <a href="shop-no-sidebar.html">All Our Vendors</a>
                      </li>
                  </ul>
            </div>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="push-up blocks-spacer">
            <div class="row">
                <section class="span12">

                    <!--  ==========  -->
                    <!--  = Title =  -->
                    <!--  ==========  -->
                    <div class="underlined push-down-20">
                        <div class="row">
                            <div class="span6">
                                <h3><span class="light">All</span> Our Vendors</h3>
                            </div>
                            <div class="span6 align-right sm-align-left">
                                <div class="form-inline sorting-by">
                                    <label for="isotopeSorting" class="black-clr">Sort:</label>
                                    <select id="isotopeSorting" class="span3">
                                        <option value='{"sortBy":"price", "sortAscending":"true"}'>By Price (Low to High) &uarr;</option>
                                        <option value='{"sortBy":"price", "sortAscending":"false"}'>By Price (High to Low) &darr;</option>
                                        <option value='{"sortBy":"name", "sortAscending":"true"}'>By Name (Low to High) &uarr;</option>
                                        <option value='{"sortBy":"name", "sortAscending":"false"}'>By Name (High to Low) &darr;</option>
                                        <option value='{"sortBy":"popularity", "sortAscending":"true"}'>By Popularity (Low to High) &uarr;</option>
                                        <option value='{"sortBy":"popularity", "sortAscending":"false"}'>By Popularity (High to Low) &darr;</option>
                                    </select>

                                    <label for="numberShown" class="black-clr">Show:</label>
                                    <select id="numberShown" class="span1">
                                        <option value="9">9</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                            </div> <!-- /sorting and number shown -->
                        </div>
                    </div> <!-- /title -->

                    <!--  ==========  -->
                    <!--  = Products =  -->
                    <!--  ==========  -->
                    <div class="row popup-products">
                        <div id="isotopeContainer" class="isotope-container">

                                                    <!--  ==========  -->
              <!--  = Product =  -->
                <!--  ==========  -->
                <% @vendor = Vendor.all %>
                <% @vendor.each do |vendor| %>

              <div class="span3 isotope--target filter--suits" data-price="1250" data-popularity="2" data-size="xs|s|m" data-color="green|orange" data-brand="puma">
                    <div class="product">
                     <div class="product-inner">


                          <div class="product-img">
                                <div class="picture">
                                 <!--    <a href="product.html"><img src="#" alt="" width="540" height="374" /></a> -->
                                    <div class="img-overlay">
                                        <a href="vendor/<%=vendor.id%>" class="btn more btn-primary">More</a>
                                        <a href="#" class="btn buy btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">

                                <a href="vendor/<%=vendor.id%>"><h4 class="product_vendor"><%= vendor.name %></a>
                                <!-- <h5 class="product_name no-margin"></h5>
                                <h4 class="title"></h4> -->
                            </div>
                           <!--  <p class="desc"></p> -->


                            <div class="row-fluid hidden-line">
                                <div class="span6">
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                </div>
                                <div class="span6 align-right">
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                </div>
                            </div>
                    </div>
                  </div>


              </div> <!-- /product -->

                <% end %>

                                                    <!--  ==========  -->
              <!--  = Single Product =  -->
              <!--  ==========  -->
                  <!--         <div class="span3 isotope--target filter--shorts" data-price="1041" data-popularity="4" data-size="xs|l" data-color="green" data-brand="shred">
                              <div class="product">
                                    <div class="product-inner">
                                                                            <div class="product-img">
                                          <div class="picture">
                                              <a href="product.html"><img width="540" height="374" alt="" src="images/dummy/products/product-3.jpg" /></a>
                                              <div class="img-overlay">
                                                  <a class="btn more btn-primary" href="product.html">More</a>
                                                  <a class="btn buy btn-danger" href="#">Add to Cart</a>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="main-titles no-margin">
                                                                                    <h4 class="title">$1041</h4>
                                                                                    <h5 class="no-margin isotope--title">Adipiscing Amet Condimentum</h5>
                                      </div>
                                      <div class="row-fluid hidden-line">
                                            <div class="span6">
                                                <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                                <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                            </div>
                                            <div class="span6 align-right">
                                                <span class="icon-star stars-clr"></span>
                                                <span class="icon-star stars-clr"></span>
                                                <span class="icon-star stars-clr"></span>
                                                <span class="icon-star stars-clr"></span>
                                                <span class="icon-star"></span>
                                                                                            </div>
                                        </div>
                                    </div>
                              </div>
                          </div> --> <!-- /single product -->


                      </div> <!-- /isotope-container -->
                  </div> <!-- /popup-products -->
                  <hr />

                  <!--  ==========  -->
          <!--  = Pagination =  -->
          <!--  ==========  -->
                  <div class="pagination pagination-centered">
                        <ul>
                            <li><a href="#" class="btn btn-primary"><span class="icon-chevron-left"></span></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" class="btn btn-primary"><span class="icon-chevron-right"></span></a></li>
                        </ul>
                    </div> <!-- /pagination -->
                </section> <!-- /span12 -->
            </div>
        </div>
    </div> <!-- /container -->


